*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flex-centro{
    justify-content: center;
    align-items:center;
}

.flex-destra{
    justify-content: flex-end;
    align-items:center;
}

.flex-sinistra{
    justify-content: flex-start;
    align-items: center;
}

.flex-sotto{    
    justify-content: center;
    align-items:flex-end;
}

.flex-opposti{
    justify-content: space-between;
    align-items: center;
}

.flex-reverse{
    flex-direction: row-reverse;
}

.margin-auto{
    margin: auto;
}

.height-100{
    height: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.dashed-border{
    border: 2px dashed black;
}

.dashed-border-white{
    border: 2px dashed white;
}

.background-gray{
    background-color: #d2d2d2;
}

.background-pastel-pink{
    background-color: #feb5c0;
}

/*carattere*/
body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: bold;
}

header{
    padding-bottom: 5px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

header section.upper{
    height: 80px;
}

section.upper{
    width: 100%;
    height: 40px;
    align-items: center;
}

section.upper>div{ /*DIV DOV STA L'IMMAGINE logo*/
    width: 40%;
    padding: .5rem 1rem;
}

section.upper nav { /*DIV DOVE STSA LA NAV*/
    width: 60%;
}

section.upper nav ul{ /*DOVE STANNO UL*/
    list-style-type: none;
    padding: .4rem 1rem;
    justify-content: center;
}

section.upper nav ul li{ /*DOVE STA LI*/
    margin: 0 1rem;
    /*margin-right: 3rem;*/
}

section.upper div.login{
    text-align: right;
}

header section.jumbotron{
    padding: 4rem 0;
}

section.jumbotron .hero{
    width: 60%;
}

main>section{
    padding: 4rem 0;
}

/* TODO Rimuovere dopo i contenuti*/

main section div.blue-column{
    background-color: #1c87f0;
    width: 60%;
}

main section div.pink-column{
    background-color: #f1b5c0;
    width: 40%;
}

main section div.big-column{
    background-color: #1e7b1e;
    width: 100%;
    height: 800px;
}

footer{
    background-color: #23272a;
    padding-top: 1rem;
}

footer section.footer-top{
    height: 700px;
}

footer div.main-column{
    background-color: #ef7f7f;
    width: 30%;
}

footer div.footer-columns{
    width: 70%;
}

footer div.secondary-column{
    background-color: #20b1a9;
    width: calc(100% / 4);
}

footer section.footer-bottom{
    background-color: #7ffed3;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer section .logo-wrapper,
footer section .button-wrapper{
    padding: .5rem;
}

/*COLORI*/

.color-white{
    color: white;
}

.color-black{
    color: #393d3f;
}

.color-dull-blue{
    color: #8ea1e1;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: #23272a;
}

.bg-dull-blue{
    color: #8ea1e1;
}

.bg-gray{
    background-color: #f6f6f6;
}

.sfondo{
    background-color: red;
}

/*bottone*/
.botton{
    border-radius: 20px;
    padding: .5rem .7rem ;
    margin: 1rem;
}

h1{
    font-size: 2.7rem;
    padding: 1rem;
}

p{
    font-size: 1rem;
    margin: 1rem;
}

.testo-centro{
    text-align: center;
    margin: 1rem 4rem;
}

.testo-destra{
    text-align: right;
    margin: 1rem 4rem;
}

.testo-sinistra{
    text-align: left;
    margin: 1rem 4rem;
}
